@import "../../variable.scss";

.floater {
  width: 300px;
  padding: 10px;
  background: $blue url(../../assets/girls.png) 103% 2px no-repeat;
  color: $white;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  .number {
    font-size: 20px;
  }
  .txt {
    font-size: 14px;
    width: 200px;
    color: $lightGray;
  }
}
